In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/moviedata/Data/hollywood_movies.csv
/kaggle/input/moviedata/Data/hollywood_credits.csv
/kaggle/input/moviedata/Data/bollywood_movies.csv
/kaggle/input/moviedata/Data/bollywood_credits.csv
/kaggle/input/tmdb-movie-metadata/tmdb_5000_movies.csv
/kaggle/input/tmdb-movie-metadata/tmdb_5000_credits.csv

In [2]:
# Load the data
hollywood_movies = pd.read_csv('/kaggle/input/moviedata/Data/hollywood_movies.csv') 
hollywood_credits = pd.read_csv('/kaggle/input/moviedata/Data/hollywood_credits.csv')

In [3]:
movies = pd.read_csv('/kaggle/input/tmdb-movie-metadata/tmdb_5000_movies.csv')
credits = pd.read_csv('/kaggle/input/tmdb-movie-metadata/tmdb_5000_credits.csv')

In [4]:
movies.shape, credits.shape

((4803, 20), (4803, 4))

In [5]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title                 4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
dtypes: float64(3), int64(4), object(13)
memory usage: 750.6+ KB

In [6]:
hollywood_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7000 entries, 0 to 6999
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  7000 non-null   bool
 1   backdrop_path          6957 non-null   object
 2   belongs_to_collection  1817 non-null   object
 3   budget                 7000 non-null   int64
 4   genres                 7000 non-null   object
 5   homepage               3164 non-null   object
 6   id                     7000 non-null   int64
 7   imdb_id                6989 non-null   object
 8   origin_country         7000 non-null   object
 9   original_language      7000 non-null   object
 10  original_title         7000 non-null   object
 11  overview               6994 non-null   object
 12  popularity             7000 non-null   float64
 13  poster_path            6993 non-null   object
 14  production_companies   7000 non-null   object
 15  production_countries   7000 non-null   object
 16  release_date           6987 non-null   object
 17  revenue                7000 non-null   int64
 18  runtime                7000 non-null   int64
 19  spoken_languages       7000 non-null   object
 20  status                 7000 non-null   object
 21  tagline                6336 non-null   object
 22  title                  7000 non-null   object
 23  video                  7000 non-null   bool
 24  vote_average           7000 non-null   float64
 25  vote_count             7000 non-null   int64
dtypes: bool(2), float64(2), int64(5), object(17)
memory usage: 1.3+ MB

In [7]:
hollywood_movies.columns

Index(['adult', 'backdrop_path', 'belongs_to_collection', 'budget', 'genres',
       'homepage', 'id', 'imdb_id', 'origin_country', 'original_language',
       'original_title', 'overview', 'popularity', 'poster_path',
       'production_companies', 'production_countries', 'release_date',
       'revenue', 'runtime', 'spoken_languages', 'status', 'tagline', 'title',
       'video', 'vote_average', 'vote_count'],
      dtype='object')

In [8]:
movies = movies.merge(credits,on='title')

In [9]:
hollywood_movies = hollywood_movies.merge(hollywood_credits,on='id')

In [10]:
columns_to_keep = ['genres','id','overview','popularity','release_date','revenue','title','cast','crew']

In [11]:
df1= movies[columns_to_keep]

In [12]:
df1.head()

,genres,id,overview,popularity,release_date,revenue,title,cast,crew
0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",19995,"In the 22nd century, a paraplegic Marine is di...",150.437577,2009-12-10,2787965087,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",285,"Captain Barbossa, long believed to be dead, ha...",139.082615,2007-05-19,961000000,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",206647,A cryptic message from Bond’s past sends him o...,107.376788,2015-10-26,880674609,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",49026,Following the death of District Attorney Harve...,112.312950,2012-07-16,1084939099,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",49529,"John Carter is a war-weary, former military ca...",43.926995,2012-03-07,284139100,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [13]:
df2 = hollywood_movies[columns_to_keep]

In [14]:
df2.head()

,genres,id,overview,popularity,release_date,revenue,title,cast,crew
0,"[{'id': 28, 'name': 'Action'}, {'id': 878, 'na...",1094844,Recognizing the destructive power of its capti...,2106.850,2023-03-24,0,Ape vs. Mecha Ape,"[{'adult': False, 'gender': 2, 'id': 74036, 'k...","[{'adult': False, 'gender': 0, 'id': 1654626, ..."
1,"[{'id': 28, 'name': 'Action'}, {'id': 878, 'na...",823464,"Following their explosive showdown, Godzilla a...",2229.531,2024-03-27,546503756,Godzilla x Kong: The New Empire,"[{'adult': False, 'gender': 1, 'id': 15556, 'k...","[{'adult': False, 'gender': 2, 'id': 98631, 'k..."
2,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",693134,Follow the mythic journey of Paul Atreides as ...,1753.806,2024-02-27,704300257,Dune: Part Two,"[{'adult': False, 'gender': 2, 'id': 1190668, ...","[{'adult': False, 'gender': 2, 'id': 137427, '..."
3,"[{'id': 16, 'name': 'Animation'}, {'id': 28, '...",1011985,Po is gearing up to become the spiritual leade...,1723.801,2024-03-02,520540090,Kung Fu Panda 4,"[{'adult': False, 'gender': 2, 'id': 70851, 'k...","[{'adult': False, 'gender': 1, 'id': 2008023, ..."
4,"[{'id': 28, 'name': 'Action'}, {'id': 27, 'nam...",1096197,Characters from different backgrounds are thro...,1746.101,2024-01-18,0,No Way Up,"[{'adult': False, 'gender': 2, 'id': 17782, 'k...","[{'adult': False, 'gender': 2, 'id': 56533, 'k..."

In [15]:
df1.reset_index(drop=True,inplace=True)
df2.reset_index(drop=True,inplace=True)

In [16]:
combined_df = pd.concat([df1,df2])
combined_df.shape

(12417, 9)

In [17]:
df2.duplicated().sum()

907

In [18]:
combined_df.drop_duplicates(inplace=True)

In [19]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 11510 entries, 0 to 7607
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   genres        11510 non-null  object
 1   id            11510 non-null  int64
 2   overview      11501 non-null  object
 3   popularity    11510 non-null  float64
 4   release_date  11496 non-null  object
 5   revenue       11510 non-null  int64
 6   title         11510 non-null  object
 7   cast          11510 non-null  object
 8   crew          11510 non-null  object
dtypes: float64(1), int64(2), object(6)
memory usage: 899.2+ KB

In [20]:
combined_df.isna().sum()

genres           0
id               0
overview         9
popularity       0
release_date    14
revenue          0
title            0
cast             0
crew             0
dtype: int64

In [21]:
combined_df.dropna(inplace=True)

In [22]:
combined_df.duplicated().sum()

0

In [23]:
combined_df.reset_index(inplace=True)

In [24]:
combined_df['genres']

0        [{"id": 28, "name": "Action"}, {"id": 12, "nam...
1        [{"id": 12, "name": "Adventure"}, {"id": 14, "...
2        [{"id": 28, "name": "Action"}, {"id": 12, "nam...
3        [{"id": 28, "name": "Action"}, {"id": 80, "nam...
4        [{"id": 28, "name": "Action"}, {"id": 12, "nam...
                               ...
11484    [{'id': 14, 'name': 'Fantasy'}, {'id': 35, 'na...
11485    [{'id': 14, 'name': 'Fantasy'}, {'id': 35, 'na...
11486    [{'id': 16, 'name': 'Animation'}, {'id': 10751...
11487    [{'id': 10749, 'name': 'Romance'}, {'id': 53, ...
11488    [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
Name: genres, Length: 11489, dtype: object

In [25]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11489 entries, 0 to 11488
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   index         11489 non-null  int64
 1   genres        11489 non-null  object
 2   id            11489 non-null  int64
 3   overview      11489 non-null  object
 4   popularity    11489 non-null  float64
 5   release_date  11489 non-null  object
 6   revenue       11489 non-null  int64
 7   title         11489 non-null  object
 8   cast          11489 non-null  object
 9   crew          11489 non-null  object
dtypes: float64(1), int64(3), object(6)
memory usage: 897.7+ KB

In [26]:
combined_df.columns

Index(['index', 'genres', 'id', 'overview', 'popularity', 'release_date',
       'revenue', 'title', 'cast', 'crew'],
      dtype='object')

In [27]:
combined_df['genres'][0]

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [28]:
import ast
def clean_genre(col):
    l = []
    for i in ast.literal_eval(col):
        l.append(i['name'])
    return l

In [29]:
combined_df['genres'] =combined_df['genres'].apply(clean_genre)

In [30]:
combined_df.head()

,index,genres,id,overview,popularity,release_date,revenue,title,cast,crew
0,0,"[Action, Adventure, Fantasy, Science Fiction]",19995,"In the 22nd century, a paraplegic Marine is di...",150.437577,2009-12-10,2787965087,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,1,"[Adventure, Fantasy, Action]",285,"Captain Barbossa, long believed to be dead, ha...",139.082615,2007-05-19,961000000,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,2,"[Action, Adventure, Crime]",206647,A cryptic message from Bond’s past sends him o...,107.376788,2015-10-26,880674609,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,3,"[Action, Crime, Drama, Thriller]",49026,Following the death of District Attorney Harve...,112.312950,2012-07-16,1084939099,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,4,"[Action, Adventure, Science Fiction]",49529,"John Carter is a war-weary, former military ca...",43.926995,2012-03-07,284139100,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [31]:
combined_df['release_year'] = pd.to_datetime(combined_df['release_date']).dt.year

In [32]:
combined_df.drop(columns = 'release_date',inplace=True)

In [33]:
combined_df.head()

,index,genres,id,overview,popularity,revenue,title,cast,crew,release_year
0,0,"[Action, Adventure, Fantasy, Science Fiction]",19995,"In the 22nd century, a paraplegic Marine is di...",150.437577,2787965087,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",2009
1,1,"[Adventure, Fantasy, Action]",285,"Captain Barbossa, long believed to be dead, ha...",139.082615,961000000,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...",2007
2,2,"[Action, Adventure, Crime]",206647,A cryptic message from Bond’s past sends him o...,107.376788,880674609,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...",2015
3,3,"[Action, Crime, Drama, Thriller]",49026,Following the death of District Attorney Harve...,112.312950,1084939099,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...",2012
4,4,"[Action, Adventure, Science Fiction]",49529,"John Carter is a war-weary, former military ca...",43.926995,284139100,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...",2012

In [34]:
hollywood_movies['cast']

0       [{'adult': False, 'gender': 2, 'id': 74036, 'k...
1       [{'adult': False, 'gender': 1, 'id': 15556, 'k...
2       [{'adult': False, 'gender': 2, 'id': 1190668, ...
3       [{'adult': False, 'gender': 2, 'id': 70851, 'k...
4       [{'adult': False, 'gender': 2, 'id': 17782, 'k...
                              ...
7603    [{'adult': False, 'gender': 1, 'id': 33259, 'k...
7604    [{'adult': False, 'gender': 2, 'id': 2219, 'kn...
7605    [{'adult': False, 'gender': 2, 'id': 1593952, ...
7606    [{'adult': False, 'gender': 2, 'id': 4110, 'kn...
7607    [{'adult': False, 'gender': 2, 'id': 44301, 'k...
Name: cast, Length: 7608, dtype: object

In [35]:
def clean_cast(col):
    l = []
    c = 0
    for i in ast.literal_eval(col):
            if c!= 3:
                l.append(i['name'])
            else:
                break
            c+=1
        
    return l

In [36]:
 combined_df['cast'] = combined_df['cast'].apply(clean_cast)

In [37]:
def fetch_director(obj):
    l = []
    for i in ast.literal_eval(obj):
        if i['job']=="Director":
            l.append(i['name'])
            break
    return l

In [38]:
combined_df.columns

Index(['index', 'genres', 'id', 'overview', 'popularity', 'revenue', 'title',
       'cast', 'crew', 'release_year'],
      dtype='object')

In [40]:
combined_df['crew'] = combined_df['crew'].apply(fetch_director)

In [41]:
combined_df.head()

,index,genres,id,overview,popularity,revenue,title,cast,crew,release_year
0,0,"[Action, Adventure, Fantasy, Science Fiction]",19995,"In the 22nd century, a paraplegic Marine is di...",150.437577,2787965087,Avatar,"[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron],2009
1,1,"[Adventure, Fantasy, Action]",285,"Captain Barbossa, long believed to be dead, ha...",139.082615,961000000,Pirates of the Caribbean: At World's End,"[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski],2007
2,2,"[Action, Adventure, Crime]",206647,A cryptic message from Bond’s past sends him o...,107.376788,880674609,Spectre,"[Daniel Craig, Christoph Waltz, Léa Seydoux]",[Sam Mendes],2015
3,3,"[Action, Crime, Drama, Thriller]",49026,Following the death of District Attorney Harve...,112.312950,1084939099,The Dark Knight Rises,"[Christian Bale, Michael Caine, Gary Oldman]",[Christopher Nolan],2012
4,4,"[Action, Adventure, Science Fiction]",49529,"John Carter is a war-weary, former military ca...",43.926995,284139100,John Carter,"[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton],2012

In [42]:
combined_df['overview'] = combined_df['overview'].apply(lambda x:x.split())

In [43]:
combined_df.head()

,index,genres,id,overview,popularity,revenue,title,cast,crew,release_year
0,0,"[Action, Adventure, Fantasy, Science Fiction]",19995,"[In, the, 22nd, century,, a, paraplegic, Marin...",150.437577,2787965087,Avatar,"[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron],2009
1,1,"[Adventure, Fantasy, Action]",285,"[Captain, Barbossa,, long, believed, to, be, d...",139.082615,961000000,Pirates of the Caribbean: At World's End,"[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski],2007
2,2,"[Action, Adventure, Crime]",206647,"[A, cryptic, message, from, Bond’s, past, send...",107.376788,880674609,Spectre,"[Daniel Craig, Christoph Waltz, Léa Seydoux]",[Sam Mendes],2015
3,3,"[Action, Crime, Drama, Thriller]",49026,"[Following, the, death, of, District, Attorney...",112.312950,1084939099,The Dark Knight Rises,"[Christian Bale, Michael Caine, Gary Oldman]",[Christopher Nolan],2012
4,4,"[Action, Adventure, Science Fiction]",49529,"[John, Carter, is, a, war-weary,, former, mili...",43.926995,284139100,John Carter,"[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton],2012

In [44]:
combined_df['genres'] = combined_df['genres'].apply(lambda x: [i.replace(" ","") for i in x])
combined_df['cast'] = combined_df['cast'].apply(lambda x: [i.replace(" ","") for i in x])
combined_df['crew'] = combined_df['crew'].apply(lambda x: [i.replace(" ","") for i in x])

In [45]:
combined_df.head()

,index,genres,id,overview,popularity,revenue,title,cast,crew,release_year
0,0,"[Action, Adventure, Fantasy, ScienceFiction]",19995,"[In, the, 22nd, century,, a, paraplegic, Marin...",150.437577,2787965087,Avatar,"[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],2009
1,1,"[Adventure, Fantasy, Action]",285,"[Captain, Barbossa,, long, believed, to, be, d...",139.082615,961000000,Pirates of the Caribbean: At World's End,"[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski],2007
2,2,"[Action, Adventure, Crime]",206647,"[A, cryptic, message, from, Bond’s, past, send...",107.376788,880674609,Spectre,"[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes],2015
3,3,"[Action, Crime, Drama, Thriller]",49026,"[Following, the, death, of, District, Attorney...",112.312950,1084939099,The Dark Knight Rises,"[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan],2012
4,4,"[Action, Adventure, ScienceFiction]",49529,"[John, Carter, is, a, war-weary,, former, mili...",43.926995,284139100,John Carter,"[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton],2012

In [58]:
combined_df['tags'] = combined_df['genres']+combined_df['overview']+combined_df['cast']+combined_df['crew']

In [47]:
combined_df.head()

,index,genres,id,overview,popularity,revenue,title,cast,crew,release_year,tags
0,0,"[Action, Adventure, Fantasy, ScienceFiction]",19995,"[In, the, 22nd, century,, a, paraplegic, Marin...",150.437577,2787965087,Avatar,"[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],2009,"[Action, Adventure, Fantasy, ScienceFiction, I..."
1,1,"[Adventure, Fantasy, Action]",285,"[Captain, Barbossa,, long, believed, to, be, d...",139.082615,961000000,Pirates of the Caribbean: At World's End,"[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski],2007,"[Adventure, Fantasy, Action, Captain, Barbossa..."
2,2,"[Action, Adventure, Crime]",206647,"[A, cryptic, message, from, Bond’s, past, send...",107.376788,880674609,Spectre,"[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes],2015,"[Action, Adventure, Crime, A, cryptic, message..."
3,3,"[Action, Crime, Drama, Thriller]",49026,"[Following, the, death, of, District, Attorney...",112.312950,1084939099,The Dark Knight Rises,"[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan],2012,"[Action, Crime, Drama, Thriller, Following, th..."
4,4,"[Action, Adventure, ScienceFiction]",49529,"[John, Carter, is, a, war-weary,, former, mili...",43.926995,284139100,John Carter,"[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton],2012,"[Action, Adventure, ScienceFiction, John, Cart..."

In [65]:
df = combined_df[['id','title','tags','release_year']]

In [66]:
df = df.drop_duplicates(subset='id', keep='first')

In [67]:
df.loc[:,'tags'] = df['tags'].apply(lambda x: " ".join(x))

In [68]:
df.loc[:,'tags'] = df['tags']+' ' +combined_df['title']+' '+ df['release_year'].astype(str)

In [69]:
df['tags'][0]

'Action Adventure Fantasy ScienceFiction In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. SamWorthington ZoeSaldana SigourneyWeaver JamesCameron Avatar 2009'

In [70]:
df.loc[:,'tags'] = df['tags'].apply (lambda x:x.lower())

In [71]:
df.columns

Index(['id', 'title', 'tags', 'release_year'], dtype='object')

In [72]:
df[df['title']=='The Jungle Book']

,id,title,tags,release_year
78,278927,The Jungle Book,family adventure drama fantasy after a threat ...,2016
6050,9325,The Jungle Book,family animation adventure the boy mowgli make...,1967
7565,10714,The Jungle Book,family adventure drama raised by wild animals ...,1994

In [73]:
df.drop(columns='release_year',inplace=True)

In [74]:
df.shape

(9008, 3)

In [75]:
df.head()

,id,title,tags
0,19995,Avatar,action adventure fantasy sciencefiction in the...
1,285,Pirates of the Caribbean: At World's End,"adventure fantasy action captain barbossa, lon..."
2,206647,Spectre,action adventure crime a cryptic message from ...
3,49026,The Dark Knight Rises,action crime drama thriller following the deat...
4,49529,John Carter,action adventure sciencefiction john carter is...

In [76]:
df.shape

(9008, 3)

In [77]:
import nltk

In [78]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [79]:
def stem(text):
    y = []
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [80]:
df.loc[:,'tags'] = df['tags'].apply(stem)

In [81]:
df.head()

,id,title,tags
0,19995,Avatar,action adventur fantasi sciencefict in the 22n...
1,285,Pirates of the Caribbean: At World's End,"adventur fantasi action captain barbossa, long..."
2,206647,Spectre,action adventur crime a cryptic messag from bo...
3,49026,The Dark Knight Rises,action crime drama thriller follow the death o...
4,49529,John Carter,action adventur sciencefict john carter is a w...

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features = 9000,stop_words='english')

In [ ]:
vectors = cv.fit_transform(df['tags']).toarray()

In [ ]:
vectors.shape

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
similarity = cosine_similarity(vectors)

In [ ]:
similarity[0]

In [ ]:
def recommend(movie):
    # first find the index of the given movie
    index = df[df['title']==movie].index[0]
    distances = similarity[index]
    movies_list = sorted(list(enumerate(distances)),reverse=True, key=lambda x:x[1])[1:6]
    
    for i in movies_list:
        print(df.iloc[i[0]])

In [ ]:
df[df['title']=='Spider-Man'].index[0]

In [82]:
df.reset_index(drop=True,inplace=True)

In [ ]:
l = recommend('Captain America')

In [ ]:
df

In [83]:
import pickle

In [84]:
pickle.dump(df.to_dict(),open("Movies.pkl","wb"))

In [ ]:
pickle.dump(similarity,open("similarity.pkl","wb"))

In [86]:
df['tags'][0]

'action adventur fantasi sciencefict in the 22nd century, a parapleg marin is dispatch to the moon pandora on a uniqu mission, but becom torn between follow order and protect an alien civilization. samworthington zoesaldana sigourneyweav jamescameron avatar 2009'